*{
  margin: 0px;
  padding: 0px;
}
.main-box{
  background-image: url("photo.jpg");
  height: 100vh;
  background-size:cover;
}
.btn-one i{
  color: white;
  position: absolute;
  left: 15px;
  line-height: 60px;
  font-size:30px;
font-weight: 700px;
cursor: pointer;
}
.side-bar{
  position: fixed;
left: -350px;
background-color:rgba(255, 255, 255, 0.1);
height: 100vh;
width: 300px;
box-shadow: 0px 0px 7px rgba(255, 255, 255, 0.6);

}
.logo{
  position: absolute;
 line-height: 60px;
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 60px;
box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.6);
}
 
.design{
  color: white;
  position: absolute;
  left: 60px;
  text-decoration: none;

}
.menu-bar{
position: absolute;
top: 80px;
width:100%;
}
.btn-two i{
  color: grey;
  position: absolute;
left:275px;
font-size: 25px;
line-height: 60px;
cursor:pointer
}
li{
  margin-top: 6px;
  padding: 15px 10px;
  color:white;
}
 i,a{
  color: white;
  font-size: 20px;
  text-decoration: none;
}
i{
  padding-right: 8px;
}
.logo-bar{
  color: white;
  opacity: 0.5;
  position: absolute;
  left: 25%;
  bottom: 50px;
}
 #check{
  display: none;
 }
 li:hover{
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.6);

 }
 .btn-one i:hover{
  font-size: 40px;
 }
  .btn-two i:hover{
    font-size: 30px;
  }
  #check:checked ~ .side-bar{
    left:0px;
  }
  #check:checked ~ .btn-one{
    opacity: 0;
  }